.task_top_More {
    display: flex;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}

.taskInfo {
    padding: 30px 10px 30px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    height: 80vh;
}

.taskInfo_box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.taskInfo_box_title {
    display: flex;
    gap: 10px;
    align-items: center;
}
.taskInfo_box_title > svg {
    transform: scale(0.8);
}

.taskInfo_box_title > p {
    font-weight: bold;
    font-size: 1rem;
}

.taskInfo_box_body {
    width: fit-content;
}
.taskInfo_box_body > input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    font-size: 0.8rem;
}

.taskInfo_box_btn {
    margin: auto;
}
