.App {
    width: 100%;
    height: 100vh;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
  }
  .App_header {
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    /* margin: auto; */
  }
  .App_header > .navBar {
    margin: auto;
  }
  
  .App_header > svg {
    cursor: pointer;
  }
  
  .boardContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
  }
  
  .boardContainer > .boardOuter {
    height: 100%;
    display: flex;
    min-width: fit-content;
    gap: 30px;
    padding: 5px;
    padding-bottom: 0.6rem;
  }
  
  .scrollBar::-webkit-scrollbar {
    width: 8px;
    background-color: pink;
  }
  
  .scrollBar::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .scrollBar::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }
  
  .addNewRoles {
    min-width: 290px;
    width: 290px;
  }
  
  /* custom scroll-bar  */
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    /* background-color: #fff; */
    background-color: pink;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }
  