.timelineVertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1.5rem;
    padding-left: 0.3rem;
    padding-bottom: 0.6rem;
}
.timelineVertical > .lineParent > .line {
    border-left: 0.5rem dotted green;
    height: 100%;
    margin: auto;
}
.timelineVertical > .lineParent {
    width: 100%;
    height: 100%;
    display: flex;
}
